@model ladders.Models.Challenge

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Challenge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BookingId" class="control-label"></label>
                <input asp-for="BookingId" class="form-control" />
                <span asp-validation-for="BookingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChallengedTime" class="control-label"></label>
                <input asp-for="ChallengedTime" class="form-control" />
                <span asp-validation-for="ChallengedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Resolved" /> @Html.DisplayNameFor(model => model.Resolved)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <select asp-for="Result" class="form-control"></select>
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

