@model ladders.Models.LadderModel

@{
    ViewData["Title"] = "Details";
}

<h2>@(Model.Name) Ladder</h2>

<div>
    <h5>@(Model?.MemberList?.Count ?? 0) members</h5>
    <hr/>
    <div>
        @if (ViewBag.IsAdmin)
        {
            <span><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |</span>
        }
        <a asp-action="Index">Back to List</a>
    </div>

    <hr/>
    
    <table class="table">
        <thead>
        <tr>
            <th>Current Members</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.MemberList != null)
        {
            foreach (var item in Model.MemberList)
             {
                 <tr>
                     <td>
                         @Html.DisplayFor(modelItem => item.Name)
                     </td>
                 </tr>
             }
        }
        </tbody>
    </table>

</div>
